@import url('https://fonts.cdnfonts.com/css/be-vietnam-pro');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.transform-hamburger {
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.77,0,.175,1);
}
